# vs solution files #
#####################
*.sln
*.suo
obj/

# vs project files #
####################
sbaas.pyproj
main.py

# log files #
#############
*.log

# local R dir #
###############
dmccloskey-sbrg/

# local workspace dirs #
########################
visualization_data/
visualization_resources/
workspace/
workspace_data/

# compile py files #
####################
*.pyc