{% extends "base.html" %}
{% block title %}Data analysis visualization{% endblock %}
{% block head %}
<script src="{{d3}}"></script>

<link rel="stylesheet" href="{{boot_css}}" />
<link rel="stylesheet" href="{{index_css}}" />

<!-- This font cannot be downloaded. -->
<script src="//use.edgefonts.net/tulpen-one.js"></script>
{% endblock %}{% block header %}
{% endblock %}
{% block nav %}{% endblock %}
{% block main %}
<main>
    <div class="container">
        <form class="form-signin" name="login" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
        </form>
    </div>
    <div id="push"></div>
</main>
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p class="more">
            Learn more about <a href="{{github}}">this project</a>
        </p>
        <p class="version">
            Version {{version}}
        </p>
    </div>
</footer>
{% endblock %}
